{% extends '_base.html' %}
{% load static %}


{% block content %}
<div class="small-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/spice2.jpg' %}" class="img-fluid" alt="Spices image2"/>
</div>

<h1>Our mission is to help you track all your spices and keep information like date of purchase, quantity, uses, etc.</h1>
<h1>

</h1>
<h1>Eventually we like for all our members to share their experiences about spices.</h1>
<h1>
  
</h1>
<h1>For now, please feel free to login and track your spices.</h1>
{% endblock content %}

